<div class="images center">
  <p style="font-size: 20px;">Pease Sign_in or sign_up to view projects and  please leave a comment.</p>
  <%= image_tag "coder.jpg" %>
</div>

<ul>
  <% @contents.each do |content| %>
  <h3>
    <li><%= link_to content.title, content_path(content) %></li>
  </h3>
  <p>
    <%= content.description %>
  </p>
  <% end %>
</ul>

<%= link_to "New content", new_content_path %>
