<div class="container">
<ul>
  <% @contents.each do |content| %>
  <h3>
    <li><%= link_to content.title, content_path(content) %></li>
  </h3>
  <p>
    <%= content.description %>
  </p>
  <% end %>
</ul>

<%= link_to "New content", new_content_path %>
</div>
