<h1>Me, Myself & I.</h1>

<ul>
  <% @admins.each do |admin| %>
  <h3>
    <li><%= link_to admin.title, admin_path(admin) %></li>
  </h3>
  <p>
    <%= admin.description %>
  </p>
  <% end %>
</ul>

<hr>

<%= link_to "New admin", new_admin_path %>
