<h2>Please add a comment.</h2>

<div class="comments" id="all_comments">
<ul>
  <% @comments.each do |comment| %>
  <h3>
    <li><%= link_to comment.name, comment_path(comment) %></li>
  </h3>
  <p>
    <%= comment.comment %>
  </p>
  <% end %>
</ul>
</div>



<hr>

<%= link_to "Leave a comment", new_comment_path,id: "new_link", remote: true %>
