<h2><%= @code.skill %></h2>


<p><%=link_to "Edit", edit_code_path(@code) %></p>
<p><%= link_to "Delete", code_path(@code),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to codes", codes_path %></p>
