<h2><%= link.name %></h2>

<p><%= link_to "Edit", edit_link_path(@link) %></p>
<p><%= link_to "Delete", link_path(@link),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Languages", codes_path %></p>
