<body>
<div class="container">
  <div class="introduction center">
    <h1 style="font-size: 50px; color: white;">Hi there, I'm Dennis.</h1>
  </div>
  <div class="row">
    <div class="description">
      <p style="font-size: 25px; color: white;">I'm a software engineer. I love to program because I get to make things out of nothing.</p>
    </div>
    <div class="work">
      <button class="button button1" name="button"><%= link_to "About me", contents_path %></a></button>
      <button class="button button1" name="button"><%= link_to "Projects", codes_path %></button>
    </div>
  </div>
</div>
</body>
