<footer>
  <div class="container footer">
    <div class="row contact-me">
      <div class="col md-3">
        <a href="https://twitter.com/colekimani1" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/miu/24/circle_social-twitter-glyph-64.png" alt="twitter"></a>
      </div>
      <div class="col md-3">
        <a href="https://www.linkedin.com/in/dennis-kimani-663831147/" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/LinkedIn-64.png" alt="linkedin"></a>
      </div>
      <div class="col md-3">
        <a href="https://github.com/DennisKimani" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-64.png" alt="github"></a>
      </div>
    </div>
  </div>
</footer>
